#Prisma
DATABASE_URL=mysql://devel:devel@localhost:3306/chat-app
DATABASE_QUERY_LOGGING=false
DATABASE_DEBUG_MODE=false

#JWT
SALT_OR_ROUNDS=10
JWT_SECRET=veryverysecret
JWT_EXPIRATION_TIME=1d

#Cookies
COOKIE_SECRET=veryverysecret

#app
PORT=4000
FRONTEND_URL=http://localhost:3000
CERTIFICATE=string
PRIVATE_KEY=string
